<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head th:replace="mode :: head(~{::title})">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>标签</title>
    <link rel="stylesheet" href="../static/css/semantic.min.css" >
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
<nav th:replace="mode :: menu(0,'Lirenmi')" class="ui inverted segment m-padd-min">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Lirenmi</h2>
            <a href="#" class="m-item m-moblie-hide item"><i class="mini home icon"></i> 首页</a>
            <a href="#" class="m-item m-moblie-hide item"><i class="mini idea icon"></i> 分类</a>
            <a href="#" class="m-item m-moblie-hide item"><i class="mini tags icon"></i> 标签</a>
            <a href="#" class="m-item m-moblie-hide item"><i class="mini clone icon"></i> 归档</a>
            <a href="#" class="m-item m-moblie-hide item"><i class="mini info icon"></i> 关于我</a>
            <div class="m-item right m-moblie-hide  item">
                <form id="form_search" th:action="/search" >
                    <div class="ui icon inverted input">
                    <input type="text" placeholder="Searh....">
                        <i onclick="document.getElementById('form_search').submit()" class="search link icon"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-moble-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<div class="m-container-small">
    <div class="ui container">
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">Search</h3>
                </div>
                <div class="right aligned column">
                    共<h2 th:text="${page.totalElements}" class="ui orange header m-c-inline-block">10</h2>篇
                </div>
            </div>
        </div>


        <!--内容-->
        <div class="ui attached segment">
            <!--内容-->
            <div th:each="blog : ${page.content}" class="ui middle aligned m-padd-lr-r-clean padded vertical segment m-padd-big">
                <div class="ui mobile reversed stackable grid ">
                    <div class="eleven wide column">
                        <h3 class="ui top aligned header"><a th:href="@{/blog/{id}(id=${blog.id})}" th:text="${blog.title}" target="_blank" style="color: black !important;"></a></h3>
                        <p th:text="${blog.authorDetails}" class="m-text">测试测试测试测试测试测试测试测试测试测
                            测试测试测试测试测试测试测试测试测试测试
                            测试测试测试试测试测试测试测试测试</p>
                        <div class="ui grid stackable">
                            <div class="eleven wide column">
                                <div class="ui horizontal link list">
                                    <div class="item">
                                        <img src="../static/images/20.jpg" th:src="@{${blog.user.img}}" width="100" height="100" class="ui avatar image">
                                        <div class="content"><a th:text="${blog.user.nickname}" class="header">Athoer</a> </div>
                                    </div>
                                    <div class="item">
                                        日期:<span th:text="${#dates.format(blog.updateTime,'yyyy-mm-dd')}">2020-10-01</span>
                                    </div>

                                    <div class="item">
                                        浏览次数:<span th:text="${blog.views}">222</span>
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" th:text="${blog.type.name}" class="ui teal basic label m-padd-mini" target="_blank">认识升级</a>
                            </div>
                        </div>
                    </div>

                    <div class="five wide column">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                            <img src="../static/images/20.jpg" th:src="@{${blog.fristPicture}}" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a th:unless="${page.first}" th:href="@{/(page=${page.number}-1)}" class="ui mini teal basic button">上一页</a>
                </div>
                <div class="right aligned column">
                    <a th:unless="${page.last}" th:href="@{/(page=${page.number}+1)}" class="ui mini teal basic button">下一页</a>
                </div>
            </div>
        </div>

    </div>
</div>

<footer th:replace="mode :: footer" class="ui inverted vertical segment m-marging-top">
    <div class="ui center aligned container">
        <div class="ui divided inverted grid stackable">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img class="ui rounded image" src="../static/images/wei.png" width="129" height="129">
                    </div>
                </div>
            </div>
            <div class="four wide column m-padd-top">
                <h4 class="ui inverted header">最新博客</h4>
                <ui class="ui inverted link list">
                    <a class="item">用户故事</a>
                    <a class="item">用户故事</a>
                    <a class="item">用户故事</a>
                </ui>
            </div>
            <div class="four wide column m-padd-top">
                <h4 class="ui inverted header">最新博客</h4>
                <ui class="ui inverted link list">
                    <a class="item">用户故事</a>
                    <a class="item">用户故事</a>
                    <a class="item">用户故事</a>
                </ui>
            </div>
            <div class="five wide column m-padd-top">
                <h4 class="ui inverted header">最新博客</h4>
                <ui class="ui inverted link list">
                    <a class="item">用户故事</a>
                    <a class="item">用户故事</a>
                    <a class="item">用户故事</a>
                </ui>
            </div>
        </div>
        <div class="ui inverted section divided"></div>
    </div>
</footer>

<div th:replace="mode :: kanban"></div>

<div th:replace="mode :: js">
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/semantic.min.js"></script>
</div>
<script>
    $(".menu.toggle").click(function () {
        $('.m-item ').toggleClass('m-moblie-hide');
    });
</script>
</body>
</html>